.game {
    padding-top: 20px;
    padding-right: 50px;
}
.gameTile {
    margin: 2px;
}
.rightPanel {
    padding-top: 20px;
}
.p1Colour {
    color: #e39600;
}
.p2Colour {
    color: #ff4c06;
}

.extraInfo {
    margin-top: 40px;
}