
body {
    
}
h1 {
    color: darkorange;
}
.game {
    padding-top: 20px;
    padding-right: 50px;
}
.gameTile {
    margin: 2px;
}
.leftPanel {
    padding-top: 20px;
}


.extraInfo {
    margin-top: 40px;
}